In [1]:
# import packages
import pandas as pd
import numpy as np

In [1]:
import os

os.getcwd()

'/home/jupyter-jackline.ngenia/jupyter-notebooks/projects/rw_srds_bralirwa/data/external'

In [2]:
int(3.6)

3

In [8]:
round(3.3)

3

In [4]:
3.3.round(0)

AttributeError: 'float' object has no attribute 'round'

In [2]:
# importing customer identity data 
customer_info = pd.read_excel('srds_customer_identity_adjustment_20220509.xlsx', 'created_proxy_customer_id')
customer_info.head()

                    vendors  original_customer_id  proxy_customer_id
0           Gisimenti Sales             119664606        11966460601
1             Kacyiru Sales             119664606        11966460602
2            Kinyinya Sales             119664606        11966460603
3          Bucyana Bannyahe             788351563        78835156301
4  Gakwaya & Gatuza (Nduba)             788351563        78835156302

In [23]:
# importing srds data
srds_data = pd.read_excel('S.R.D.S+Ltd_Sales+by+Customer+Summary (21).xlsx')
srds_data.head()

,S.R.D.S Ltd,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,Sales by Customer Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,May 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,"1 May, 2023","2 May, 2023","3 May, 2023","4 May, 2023","5 May, 2023","6 May, 2023","7 May, 2023","8 May, 2023","9 May, 2023",...,"23 May, 2023","24 May, 2023","25 May, 2023","26 May, 2023","27 May, 2023","28 May, 2023","29 May, 2023","30 May, 2023","31 May, 2023",Total
4,maurice,NaN,NaN,2431711.87,NaN,NaN,NaN,NaN,NaN,659067.8,...,NaN,NaN,NaN,408152.54,NaN,NaN,NaN,1947025.41,NaN,7917169.48

In [24]:
# remove first 3 rows
srds_data = srds_data.iloc[3:].reset_index(drop = True)

# add value to first row, first column
srds_data.iloc[0,0] = 'vendors'


# identify index of row TOTAL
condition_index = srds_data[srds_data['S.R.D.S Ltd'] == 'TOTAL'].index[0]


# slice DataFrame to keep only rows before condition index
srds_data = srds_data.iloc[:condition_index, :]

# remove rows where there is a null value in the first column
#srds_data = srds_data.dropna(axis=0, subset=['S.R.D.S Ltd'])

# setting the first row as the header of the dataframe
srds_data.columns =  srds_data.iloc[0]

# dropping the first row and re-indexing the data
srds_data.drop(0, axis = 'rows', inplace = True)
srds_data.reset_index(drop = True, inplace = True)

srds_data.head()

,vendors,"1 May, 2023","2 May, 2023","3 May, 2023","4 May, 2023","5 May, 2023","6 May, 2023","7 May, 2023","8 May, 2023","9 May, 2023",...,"23 May, 2023","24 May, 2023","25 May, 2023","26 May, 2023","27 May, 2023","28 May, 2023","29 May, 2023","30 May, 2023","31 May, 2023",Total
0,maurice,NaN,NaN,2431711.87,NaN,NaN,NaN,NaN,NaN,659067.8,...,NaN,NaN,NaN,408152.54,NaN,NaN,NaN,1947025.41,NaN,7917169.48
1,Ntwari Yvette,NaN,91135.59,1248920.34,NaN,NaN,436381.36,NaN,202610.17,NaN,...,285649.15,NaN,151533.9,228262.71,339508.47,93677.97,176127.12,NaN,NaN,4552335.6
2,Gisimenti Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kacyiru Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kinyinya Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#create dataframe for the vendors only
vendors_column = pd.DataFrame(srds_data['vendors'])

# remove numbers and slash at the end of the name
vendors_column['names'] = vendors_column['vendors'].str.replace(r'\s*\/\s*\d+$', '', regex=True)
vendors_column['names'] = vendors_column['names'].str.replace(r'\s*\d+$', '', regex=True)
vendors_column['names_no_slash'] = vendors_column['names'].str.replace(r'\s*\/', '', regex=True)
vendors_column

,vendors,names,names_no_slash
0,maurice,maurice,maurice
1,Ntwari Yvette,Ntwari Yvette,Ntwari Yvette
2,Gisimenti Sales,Gisimenti Sales,Gisimenti Sales
3,Kacyiru Sales,Kacyiru Sales,Kacyiru Sales
4,Kinyinya Sales,Kinyinya Sales,Kinyinya Sales
5,Bucyana Bannyahe,Bucyana Bannyahe,Bucyana Bannyahe
6,Gakwaya & Gatuza (Nduba),Gakwaya & Gatuza (Nduba),Gakwaya & Gatuza (Nduba)
7,Alfred Gasanze,Alfred Gasanze,Alfred Gasanze
8,Augustin,Augustin,Augustin
9,Chantal Nyamirambo,Chantal Nyamirambo,Chantal Nyamirambo
10,Claude Rwahama,Claude Rwahama,Claude Rwahama
11,clementine,clementine,clementine
12,Damascene,Damascene,Damascene
13,Dative Batsinda,Dative Batsinda,Dative Batsinda
14,David Birembo,David Birembo,David Birembo
15,Diane Kacyiru,Diane Kacyiru,Diane Kacyiru
16,Flora,Flora,Flora
17,Gentille,Gentille,Gentille
18,J.M.V. NYABUGO,J.M.V. NYABUGO,J.M.V. NYABUGO
19,Karangwa,Karangwa,Karangwa
20,MICHELLE,MICHELLE,MICHELLE
21,Murindwa,Murindwa,Murindwa
22,Mutsinzi Mugihogere,Mutsinzi Mugihogere,Mutsinzi Mugihogere
23,Ngenzi,Ngenzi,Ngenzi
24,Nkunsi Kicukiro,Nkunsi Kicukiro,Nkunsi Kicukiro
25,Ntwari Yvette,Ntwari Yvette,Ntwari Yvette
26,Nyabitare Bonaventure,Nyabitare Bonaventure,Nyabitare Bonaventure
27,Oliva Nyanza,Oliva Nyanza,Oliva Nyanza
28,Peter,Peter,Peter
29,PLACIDE,PLACIDE,PLACIDE
30,Raphael Kanombe,Raphael Kanombe,Raphael Kanombe
31,Selemani Nyamirambo,Selemani Nyamirambo,Selemani Nyamirambo
32,Sultan,Sultan,Sultan
33,theogene,theogene,theogene
34,Xavier,Xavier,Xavier
35,Yvonne Rwimpyisi,Yvonne Rwimpyisi,Yvonne Rwimpyisi

In [6]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [7]:
# merging with customer info data to get the identifiers
merged_df = pd.merge(vendors_column, customer_info, left_on='names_no_slash', right_on='vendors', how = 'left')
merged_df

,vendors_x,names,names_no_slash,vendors_y,original_customer_id,proxy_customer_id
0,maurice,maurice,maurice,maurice,785609806,785609806
1,Ntwari Yvette,Ntwari Yvette,Ntwari Yvette,Ntwari Yvette,786210588,786210588
2,Gisimenti Sales,Gisimenti Sales,Gisimenti Sales,Gisimenti Sales,119664606,11966460601
3,Kacyiru Sales,Kacyiru Sales,Kacyiru Sales,Kacyiru Sales,119664606,11966460602
4,Kinyinya Sales,Kinyinya Sales,Kinyinya Sales,Kinyinya Sales,119664606,11966460603
5,Bucyana Bannyahe,Bucyana Bannyahe,Bucyana Bannyahe,Bucyana Bannyahe,788351563,78835156301
6,Gakwaya & Gatuza (Nduba),Gakwaya & Gatuza (Nduba),Gakwaya & Gatuza (Nduba),Gakwaya & Gatuza (Nduba),788351563,78835156302
7,Alfred Gasanze,Alfred Gasanze,Alfred Gasanze,Alfred Gasanze,107905852,107905852
8,Augustin,Augustin,Augustin,Augustin,788815064,788815064
9,Chantal Nyamirambo,Chantal Nyamirambo,Chantal Nyamirambo,Chantal Nyamirambo,788284295,788284295
10,Claude Rwahama,Claude Rwahama,Claude Rwahama,Claude Rwahama,7884832250,7884832250
11,clementine,clementine,clementine,clementine,783059997,783059997
12,Damascene,Damascene,Damascene,Damascene,108361129,108361129
13,Dative Batsinda,Dative Batsinda,Dative Batsinda,Dative Batsinda,788563675,788563675
14,David Birembo,David Birembo,David Birembo,David Birembo,788463450,788463450
15,Diane Kacyiru,Diane Kacyiru,Diane Kacyiru,Diane Kacyiru,789401757,789401757
16,Flora,Flora,Flora,Flora,785295432,785295432
17,Gentille,Gentille,Gentille,Gentille,783044801,783044801
18,J.M.V. NYABUGO,J.M.V. NYABUGO,J.M.V. NYABUGO,J.M.V. NYABUGO,788851050,788851050
19,Karangwa,Karangwa,Karangwa,Karangwa,106772260,106772260
20,MICHELLE,MICHELLE,MICHELLE,MICHELLE,788741292,788741292
21,Murindwa,Murindwa,Murindwa,Murindwa,738236793,738236793
22,Mutsinzi Mugihogere,Mutsinzi Mugihogere,Mutsinzi Mugihogere,Mutsinzi Mugihogere,111454166,111454166
23,Ngenzi,Ngenzi,Ngenzi,Ngenzi,788640932,788640932
24,Nkunsi Kicukiro,Nkunsi Kicukiro,Nkunsi Kicukiro,Nkunsi Kicukiro,783241911,783241911
25,Ntwari Yvette,Ntwari Yvette,Ntwari Yvette,Ntwari Yvette,786210588,786210588
26,Nyabitare Bonaventure,Nyabitare Bonaventure,Nyabitare Bonaventure,Nyabitare Bonaventure,788827066,788827066
27,Oliva Nyanza,Oliva Nyanza,Oliva Nyanza,Oliva Nyanza,788629671,788629671
28,Peter,Peter,Peter,Peter,102500107,102500107
29,PLACIDE,PLACIDE,PLACIDE,PLACIDE,785426205,785426205
30,Raphael Kanombe,Raphael Kanombe,Raphael Kanombe,Raphael Kanombe,785668447,785668447
31,Selemani Nyamirambo,Selemani Nyamirambo,Selemani Nyamirambo,Selemani Nyamirambo,101486430,101486430
32,Sultan,Sultan,Sultan,Sultan,103383876,103383876
33,theogene,theogene,theogene,theogene,788310260,788310260
34,Xavier,Xavier,Xavier,Xavier,102505180,102505180
35,Yvonne Rwimpyisi,Yvonne Rwimpyisi,Yvonne Rwimpyisi,Yvonne Rwimpyisi,788601982,788601982

In [8]:
#getting only names and customer id
first_part = merged_df[['names', 'proxy_customer_id']].copy()
# rename columns
first_part.rename(columns = {'names':'vendors', 'proxy_customer_id':'customer_id'}, inplace = True)

first_part

                     vendors  customer_id
0                    maurice    785609806
1              Ntwari Yvette    786210588
2            Gisimenti Sales  11966460601
3              Kacyiru Sales  11966460602
4             Kinyinya Sales  11966460603
5           Bucyana Bannyahe  78835156301
6   Gakwaya & Gatuza (Nduba)  78835156302
7             Alfred Gasanze    107905852
8                   Augustin    788815064
9         Chantal Nyamirambo    788284295
10            Claude Rwahama   7884832250
11                clementine    783059997
12                 Damascene    108361129
13           Dative Batsinda    788563675
14             David Birembo    788463450
15             Diane Kacyiru    789401757
16                     Flora    785295432
17                  Gentille    783044801
18            J.M.V. NYABUGO    788851050
19                  Karangwa    106772260
20                  MICHELLE    788741292
21                  Murindwa    738236793
22       Mutsinzi Mugihogere    111454166
23                    Ngenzi    788640932
24           Nkunsi Kicukiro    783241911
25             Ntwari Yvette    786210588
26     Nyabitare Bonaventure    788827066
27              Oliva Nyanza    788629671
28                     Peter    102500107
29                   PLACIDE    785426205
30           Raphael Kanombe    785668447
31       Selemani Nyamirambo    101486430
32                    Sultan    103383876
33                  theogene    788310260
34                    Xavier    102505180
35          Yvonne Rwimpyisi    788601982

In [9]:
# getting the actual data per month
second_part = srds_data.iloc[: , 1:]

In [10]:
final_data = pd.concat([first_part, second_part], axis=1)
final_data

,vendors,customer_id,"1 May, 2023","2 May, 2023","3 May, 2023","4 May, 2023","5 May, 2023","6 May, 2023","7 May, 2023","8 May, 2023",...,"23 May, 2023","24 May, 2023","25 May, 2023","26 May, 2023","27 May, 2023","28 May, 2023","29 May, 2023","30 May, 2023","31 May, 2023",Total
0,maurice,785609806,NaN,NaN,2431712,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,408153,NaN,NaN,NaN,1947025,NaN,7917169
1,Ntwari Yvette,786210588,NaN,91136,1248920,NaN,NaN,436381,NaN,202610,...,285649,NaN,151534,228263,339508,93678,176127,NaN,NaN,4552336
2,Gisimenti Sales,11966460601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kacyiru Sales,11966460602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kinyinya Sales,11966460603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bucyana Bannyahe,78835156301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Gakwaya & Gatuza (Nduba),78835156302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alfred Gasanze,107905852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Augustin,788815064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Chantal Nyamirambo,788284295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Claude Rwahama,7884832250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,clementine,783059997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Damascene,108361129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Dative Batsinda,788563675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,David Birembo,788463450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Diane Kacyiru,789401757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Flora,785295432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Gentille,783044801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,J.M.V. NYABUGO,788851050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Karangwa,106772260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,MICHELLE,788741292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Murindwa,738236793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Mutsinzi Mugihogere,111454166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Ngenzi,788640932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Nkunsi Kicukiro,783241911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Ntwari Yvette,786210588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Nyabitare Bonaventure,788827066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Oliva Nyanza,788629671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Peter,102500107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,PLACIDE,785426205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Raphael Kanombe,785668447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Selemani Nyamirambo,101486430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Sultan,103383876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,theogene,788310260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Xavier,102505180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Yvonne Rwimpyisi,788601982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
final_data['vendors'].unique()

array(['maurice', 'Ntwari Yvette', 'Gisimenti Sales', 'Kacyiru Sales',
       'Kinyinya Sales', 'Bucyana Bannyahe', 'Gakwaya & Gatuza (Nduba)',
       'Alfred Gasanze', 'Augustin', 'Chantal Nyamirambo',
       'Claude Rwahama', 'clementine', 'Damascene', 'Dative Batsinda',
       'David Birembo', 'Diane Kacyiru', 'Flora', 'Gentille',
       'J.M.V. NYABUGO', 'Karangwa', 'MICHELLE', 'Murindwa',
       'Mutsinzi Mugihogere', 'Ngenzi', 'Nkunsi Kicukiro',
       'Nyabitare Bonaventure', 'Oliva Nyanza', 'Peter', 'PLACIDE',
       'Raphael Kanombe', 'Selemani Nyamirambo', 'Sultan', 'theogene',
       'Xavier', 'Yvonne Rwimpyisi'], dtype=object)

In [12]:
customer_info['vendors'].unique()

array(['Gisimenti Sales', 'Kacyiru Sales', 'Kinyinya Sales',
       'Bucyana Bannyahe', 'Gakwaya & Gatuza (Nduba)', 'Alfred Gasanze',
       'Augustin', 'Chantal Nyamirambo', 'Claude Rwahama', 'clementine',
       'Damascene', 'Dative Batsinda', 'David Birembo', 'Diane Kacyiru',
       'Flora', 'Gentille', 'J.M.V. NYABUGO', 'Karangwa', 'maurice',
       'MICHELLE', 'Murindwa', 'Mutsinzi Mugihogere', 'Ngenzi',
       'Nkunsi Kicukiro', 'Ntwari Yvette', 'Nyabitare Bonaventure',
       'Oliva Nyanza', 'Peter', 'PLACIDE', 'Raphael Kanombe',
       'Selemani Nyamirambo', 'Sultan', 'theogene', 'Xavier',
       'Yvonne Rwimpyisi'], dtype=object)

In [13]:
# saving the excel
final_data.to_excel('srds_may_2023.xlsx', index=False)